@import url("https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css");

#myChart{
    position: absolute;
    top: 200px;
    left: 200px;
}

/* Estilos para impressão */
@media print {
    body {
        margin: 0; /* Remover margens padrão do corpo */
    }
    
    #div-fundo-grafico{
        left: -10px;
    }

    .print-container {
        margin: 0 auto; /* Centralizar o conteúdo horizontalmente */
        max-width: 100%; /* Garantir que o conteúdo se ajuste à largura da página */
    }
    
    .print-only {
        display: block; /* Exibir o elemento ao imprimir */
    }
}



/* Estilos para ocultar elementos na impressão */
@media print {
    .no-print {
        display: none; /* Ocultar o elemento ao imprimir */
    }
}

#div-branca-grafico{
    position: absolute;
    background-color: #ffffff;
    width: 400px;
    height: 350px;
    left: 105px;
    top: 450px;
    border-radius: 5px;
    border: 1px solid #023D54;
}

#div-azul-grafico{
    background-color: #023D54;
    border-radius: 5px 5px 0px 0px;
    width: 400px;
    height: 60px;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}


