@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Nunito:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 500px;
    font-size: 100%;
    background: #EDEDED;
}

p{
    margin-bottom: 0px;
}

.cabecalho-branco{
    background-color: white;
    width: 100%;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.cabecalho-imagem{
    margin-left: 90px;
    margin-top: 20px;
}

.cabecalho-menu{
    display: flex;
    justify-content: space-between;
    width: 30%;
    float: right;
    margin-top: 40px;
    margin-right: 90px;
}

.cabecalho-menu-item{
    font-family: 'Inter', sans-serif;
    color: #023D54;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 2.5%;
}

.conteudo-texto-buttom{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.conteudo-principal-escrito{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 25px;
    width: 500px;
}

.conteudo-principal-escrito-botao{
    background-color: #023D54;
    width: 150px;
    height: 45px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
    border-radius: 10px;
    color: white;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.rodape{
    padding-top: 80px;
}

.rodape-texto{
    margin-bottom: 0px;
}



#fundo{
    font-size: 100%;
    width: 1349px;
    height: 724px;
    position: absolute;
}

#transparente{
    background: rgba(0, 0, 0, 0.62);
    width: 1349px;
    height: 724px;
    position: absolute;
}

#tela-login{
    width: 700px;
    height: 527px;
    left: 330px;
    top: 80px;
    background: #ffffff;
    position: absolute;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

#imagem-login{
    position: absolute;
    width: 194px;
    height: 120px;
    left: 55px;
    top: 200px;
}

#titulo-login{
    position: absolute;
    width: 81px;
    height: 36px;
    left: 465px;
    top: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;

    color: #023D54;
}

#lbl-email{
    
    position: absolute;
    width: 53px;
    height: 24px;
    left: 370px;
    top: 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #023D54;
}

#input-email{
    box-sizing: border-box;
    position: absolute;
    width: 280px;
    height: 40px;
    left: 370px;
    top: 180px;
    background: #D9D9D9;
    border: 1px solid #023D54;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px;
}

#lbl-senha{
    position: absolute;
    width: 53px;
    height: 24px;
    left: 370px;
    top: 250px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #023D54; 
}

#input-senha{
    box-sizing: border-box;
    position: absolute;
    width: 280px;
    height: 40px;
    left: 370px;
    top: 280px;
    background: #D9D9D9;
    border: 1px solid #023D54;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px;
}

#btn-entrar{
    position: absolute;
    width: 180px;
    height: 50px;
    left: 425px;
    top: 350px;
    background: #023D54;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.29);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

#not-conta{
    position: absolute;
    width: 222px;
    height: 19px;
    left: 435px;
    top: 420px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
}

#linha-vertical{
    position: absolute;
    width: 398px;
    height: 0px;
    left: 100px;
    top: 254px;
    border: 1px solid #000000;
    transform: rotate(90.14deg);
}

#login_error{
    color: red;
    font-size: 12px;
    position: absolute;
    left: 370px;
    top: 100px;
}

#registrar{
    position: absolute;
    width: 108px;
    height: 22px;
    left: 475px;
    top: 440px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    color: #023D54;
}

#tela-registro{
    position: relative;
    width: 700px;
    height: 527px;
    left: 330px;
    top: 80px;
    background: #ffffff;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}

#nome-completo{
    height: 100px;
    margin-bottom: 20px;
}

#email-institucional{
    height: 100px;
    margin-bottom: 0px;
}

#senha{
    height: 100px;
    margin-bottom: 0px;
}

#confirmacao-senha{
    height: 100px;
    margin-bottom: 0px;
}


#lbl-nome-completo{
    display: block;
    width: 300px;
    height: 25px;
    left: 316px;
    top: 170px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #023D54;
    padding: 30px 0px 0px 40px;
    margin-bottom: 20px;
}

#input-nome-completo{
    display: block;
    box-sizing: border-box;
    width: 300px;
    height: 30px;
    left: 316px;
    top: 50px;
    background: #D9D9D9;
    border: 1px solid #023D54;
    border-radius: 10px;
    margin-left: 40px;
}

#lbl-email-institucional{
    display: block;
    width: 300px;
    height: 25px;
    left: 316px;
    top: 230px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #023D54;
    margin-left: 40px;
}

#input-email-institucional{
    display: inline-block;
    box-sizing: border-box;
    width: 300px;
    height: 30px;
    left: 316px;
    top: 260px;
    background: #D9D9D9;
    border: 1px solid #023D54;
    border-radius: 10px;
    margin-left: 40px;
}

#lbl-senha-registro{
    display: block;
    width: 300px;
    height: 25px;
    left: 316px;
    top: 290px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #023D54;
    margin-left: 40px;
}

#input-senha-registro{
    display: block;
    box-sizing: border-box;
    width: 300px;
    height: 30px;
    left: 316px;
    top: 320px;
    background: #D9D9D9;
    border: 1px solid #023D54;
    border-radius: 10px;
    margin-left: 40px;
}

#lbl-senha-confirmacao{
    display: block;
    width: 300px;
    height: 25px;
    left: 316px;
    top: 350px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #023D54;
    margin-left: 40px;
}



#input-senha-confirmacao{
    display: block;
    box-sizing: border-box;
    width: 300px;
    height: 30px;
    left: 316px;
    top: 380px;
    background: #D9D9D9;
    border: 1px solid #023D54;
    border-radius: 10px;
    margin-left: 40px;
}

#btn-finalizar{
    position: absolute;
    width: 200px;
    height: 40px;
    left: 240px;
    top: 470px;
    background: #023D54;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    color: white;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    cursor: pointer;
}

.box-usuario{
    position: absolute;
    box-sizing: border-box;
    width: 210px;
    height: 180px;
    left: 450px;
    top: 220px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.44);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 30px 20px 20px 20px;
}

#tipo-usuario{
    width: 141px;
    height: 25px;
    left: 793px;
    top: 404px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #023D54;
    margin-bottom: 20px;
}

#lbl-aluno{
    width: 50px;
    height: 25px;
    left: 808px;
    top: 456px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}

#lbl-professor{
    width: 50px;
    height: 25px;
    left: 808px;
    top: 456px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}

#termos-privacidade{
    position: absolute;
    left: 180px;
    top: 430px;
}


#preview{
    position: absolute;
    background-color: #D9D9D9;
    width: 96px;
    height: 96px;
    top: 50px;
    left: 500px;
    border-radius: 50%;
    border: 4px solid #D9D9D9;
}

#img-input{
    display: none;
}

.custom-file-upload {
    position: absolute;
    display: inline-block;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    text-decoration: underline;
    top: 150px;
    left: 490px;
    }

#lbl-ra{
    position: absolute;
    width: 30px;
    height: 25px;
    left: 20px;
    top: 100px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: rgba(0, 0, 0, 0.5);
}

#ra{
    position: absolute;
    width: 125px;
    height: 25px;
    left: 60px;
    top: 100px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
}

#div-ra{
    height: 0px;
}
 
.cabecalho-branco-home{
    position: fixed;
    z-index: 9999;
    background-color: white;
    width: 100%;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#img-fluid-usuario{
    position: absolute;
    top: -1px;
    height: 40px;
    width: 45px;
    margin-left: 40px;
    margin-top: 5px;
}

#img-fluid-logo {
    position: absolute;
    top: -1px;
    left: 630px;
    height: 40px;
    margin-left: 30px;
    margin-top: 5px;
}

.botao-logout{
    position: absolute;
    top: 5px;
    left: 1000px;
}

.col-sm-4 {
    flex: 0 0 auto;
    width: 25%;
}

.div-foto-perfil{
    width: 65px;
    height: 65px;
    margin-right: 20px;
}

#nome-usuario{
    position: absolute;
    top: 2px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: -10px;
}

#email-usuario{
    position: absolute;
    top: 24px;
    font-size: 12px;
    margin-left: 10px;
}



.text-center{
   width: 650px;
}

.bi-box-arrow-right{
    color: gray;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

.menu-vertical{
    position: fixed;
    float: left;
    top: 50px;
    background-color: #FFFFFF;
    width: 250px;
    height: 605px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 1000;
}

#body-home{
    position: absolute;
    top: 50px;
}

.flex-column{
    margin-top: 1px;
    padding-top: 20px;

}

#btn-turma{
    position: relative;
    width: 100px;
    height: 35px;
    left: 30px;
    margin-top: 25px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

#btn-turma:hover{
    position: relative;
    width: 200px;
    height: 35px;
    left: 20px;
    margin-bottom: 0px;
    background: rgba(2, 61, 84, 0.8);
    border-radius: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

#btn-disciplina{
    position: relative;
    width: 120px;
    height: 35px;
    left: 30px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

#btn-disciplina:hover{
    position: relative;
    width: 200px;
    height: 35px;
    left: 20px;
    margin-bottom: 0px;
    background: rgba(2, 61, 84, 0.8);
    border-radius: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

#btn-formulario{
    position: relative;
    width: 130px;
    height: 35px;
    left: 30px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

#btn-formulario:hover{
    position: relative;
    width: 200px;
    height: 35px;
    left: 20px;
    margin-bottom: 0px;
    background: rgba(2, 61, 84, 0.8);
    border-radius: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

#btn-calendario{
    position: relative;
    width: 120px;
    height: 35px;
    left: 33px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

#btn-calendario:hover{
    position: relative;
    width: 200px;
    height: 35px;
    left: 20px;
    margin-bottom: 0px;
    background: rgba(2, 61, 84, 0.8);
    border-radius: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}

.nav-link{
font-family: 'Nunito';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
color: #00000068;
}

.nav-link:hover{
    color: #023D54;
    }

#nav-link-cadastrar-turma{
    position: relative;
    left: 60px;
}

#nav-link-visualizar-turma{
    position: relative;
    left: 60px;
}

#nav-link-cadastrar-disciplina{
    position: relative;
    left: 60px;
}

#nav-link-visualizar-disciplina{
    position: relative;
    left: 60px;

}

#nav-link-criar-formulario{
    position: relative;
    left: 60px;
}

#nav-link-visualizar-formulario{
    position: relative;
    left: 60px;
}


#btn-criar-form{
    box-sizing: border-box;
    position: absolute;
    width: 219px;
    height: 50px;
    left: 580px;
    top: 50px;
    background: #FFFFFF;
    border: 1px solid #023D54;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #023D54;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
}

#btn-criar-form:hover{
    border: 2px solid #023D54;
}

#graficos{
    position: absolute;
    width: 77px;
    height: 27px;
    left: 110px;
    top: 150px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    }

#btn-pizza{
    box-sizing: border-box;
    position: absolute;
    width: 250px;
    height: 60px;
    left: 105px;
    top: 200px;
    border: 2px solid #023D54;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

#img-btn-pizza{
    width: 50px;
    height: 50px;
}

#btn-linha{
    box-sizing: border-box;
    position: absolute;
    width: 250px;
    height: 60px;
    left: 410px;
    top: 200px;
    border: 2px solid #023D54;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

#img-btn-linha{
    width: 50px;
    height: 50px;
}

#btn-coluna{
    box-sizing: border-box;
    position: absolute;
    width: 250px;
    height: 60px;
    left: 705px;
    top: 200px;
    border: 2px solid #023D54;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

#img-btn-coluna{
    width: 70px;
    height: 50px;
}

#btn-barra{
    box-sizing: border-box;
    position: absolute;
    width: 250px;
    height: 60px;
    left: 1000px;
    top: 200px;
    border: 2px solid #023D54;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

#img-btn-barra{
    border: none;
    width: 50px;
    height: 50px;
}

#lbl-pizza{
    position: absolute;
    top: 270px;
    left: 210px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

#lbl-linha{
    position: absolute;
    top: 270px;
    left: 512px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

#lbl-coluna{
    position: absolute;
    top: 270px;
    left: 800px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

#lbl-barra{
    position: absolute;
    top: 270px;
    left: 1100px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.rodape-tela-principal{
    position: absolute;
    top: 900px;
    left: 760px;
}

.rodape-texto-tela-principal{
    margin-bottom: 0px;
    width: 585px;
}

.menu-oculto {
    display: none;
}

#btn-hamburguer{
    background-color: white;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

#btn-hamburguer:hover {
    background-color: #ececec;
}

#menu-div-transparente{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Defina a cor de fundo com transparência */
    z-index: 999; /* Defina um valor alto para z-index para garantir que fique no topo de tudo */
    display: none; /* Comece com a div oculta */
}


.menu-vertical-formulario{
    position: relative;
    float: right;
    top: 50px;
    background-color: #FFFFFF;
    width: 250px;
    height: 605px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#div-detalhes{
    margin: 40px 20px 40px 20px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

#div-usuario{
    margin: 20px 20px 40px 20px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

#div-prazo{
    margin: 20px 20px 40px 20px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}


.p-div-conteudo{
    position: relative;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    width: 180px;
}



.lbl-div-detalhes{
    font-size: 14px;
    margin-bottom: 10px;
}

.select-div-detalhes{
    width: 110px;
}

#input-pontuacao-form{
    width: 50px;
    border: none;
    padding-left: 10px;
    border-bottom: 1px solid #000000;
}

#input-date-prazo{
    position: relative;
    left: 20px;
}

#btn-create-form{
    position: relative;
    width: 130px;
    height: 40px;
    left: 60px;
    top: 20px;
    background: #023D54;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

    /* Criar */

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
  
#select-turma{
    font-size: 12px;
}

#icone-form{
    margin: 30px 0px 30px 0px;
    width: 316px;
}

#h4-formulario{
    width: 316px;
}

.fa-check-square{
    margin: 30px 0px 30px 0px;
    width: 316px;
    font-size: 60px;
}

#h4-respondidos{
    width: 316px;
}

#h4-notas-parciais{
    width: 316px;
}

.fa-graduation-cap{
    margin: 30px 0px 30px 0px;
    width: 316px;
    font-size: 60px;
}

#h4-agenda{
    width: 316px;
}

.fa-calendar{
    margin: 30px 0px 30px 0px;
    width: 316px;
    font-size: 60px;
}

#h4-disciplinas{
    width: 316px;
}

.fa-book{
    margin: 30px 0px 30px 0px;
    width: 316px;
    font-size: 60px;
}

#h4-perfil{
    width: 316px;
}

.fa-user{
    margin: 30px 0px 30px 0px;
    width: 316px;
    font-size: 60px;
}

#exibe-notas-parciais{
    border: none;
    font-size: 20px;
}

#exibe-notas-parciais-nota{
    border: none;
    font-size: 18px;
    font-weight: 500;
}

.espaco-entre{
    padding-left: 535px;
}


#exibe-disciplina{
    width: 300px;
}

#exibe-nota{
    padding-left: 550px;
    padding-right: 15px;
}

#id-acessar{
    color: #FFFFFF;
    padding-left: 240px;
    text-decoration: none;
}

  




/*#termos-privacidade{
    display: block;
    width: 246px;
    height: 20px;
    left: 553px;
    top: 607px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}*/



/*#input-upload-img{
    display: none;
}

.imageContainer{
    max-width: 100px;
    width: 100%;
    height: 100px;
    margin-top: 10%;
    background-color: #D9D9D9;
    border: 1px solid rgba(0, 0, 0, 0.33);
    border-radius: 50%;
    cursor: pointer;
    transition: background .3s;
}

.imageContainer:hover{
    background-color: #4d4d4d54;
}*/


/*.cabecalho-menu-item{
    display: flex;
    justify-content: space-between;
}*/

/*.cabecalho-menu{
    margin-left: 1000px;
}*/


/*.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
    left: 0px;
}

.cabecalho-imagem{
    left: 0px;
}

.cabecalho-menu{
    display: flex;
    gap: 40px;
}*/



/*.conteudo-principal-imagem{
    margin-right: 10px;
}*/


